.dropdown {
    margin-top: 20px;
}

.dropdown button {
    font-size: 20px;
}

.fa-sort-down {
    position: relative;
    bottom: 3px;
}

.ms-dropdown .ms-dropdown-content .ms-dropdown-content-list {
    min-width: 141.906px;
}

.ms-dropdown .ms-dropdown-content .ms-dropdown-content-list li a {
    font-size: 17px;
}

.ms-dropdown .ms-dropdown-content .ms-dropdown-content-list li a:hover {
    background-color: rgba(var(--default-bg-color), 0.4);
}